.env
.env2
.env.local
CMakeLists.txt
discord.log
error.log
xp.log
.idea
.venv
venv
.venv1
nohup.out
guild_settings.json
language/__pycache__/*
language/__pycache__
commands/__pycache__/*
commands/__pycache__
__pycache__/*
__pycache__
info/__pycache__/*
info/__pycache__
.pyc
*.pyc
*.pyo
