.env
.env2
.env.local
CMakeLists.txt
*.log
.idea
.venv
venv
.venv1
nohup.out
guild_settings/guild_settings.json
__pycache__/*
__pycache__
*/__pycache__/*
*/__pycache__
.pyc
*.pyc
*.pyo
*.pyd
/guild_settings.json

# IDE
.idea/
.vscode/